.about {
    padding-bottom: 60px;
}
.about .row {
    border: 1px solid #777575;
    padding: 40px;
}
.about h2 {
    font-family: 'Montserrat';
    color: #fc5112;
    font-size: 45px;
    margin-bottom: 20px;
}
.about p {
    color: #000;
    font-family: 'Montserrat';
    font-weight: 400;
}
.about p.sans {
    font-family: 'DM Sans';
}