.prduct-details .row {
  border: 1px solid #777575;
  padding: 15px;
  padding-bottom: 70px;
}
.product-detail-content-wrapper h3 {
  font-family: "Montserrat";
  font-weight: 600;
}
.product-detail-content-wrapper .pro-stock-and-ref-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.product-detail-content-wrapper .pro-stock-and-ref-wrapper h4 {
  font-size: 16px;
  font-weight: 400;
}
.product-detail-content-wrapper .pro-stock-and-ref-wrapper h5 {
  color: #7b7b7b;
  font-size: 16px;
  font-weight: 400;
}
.product-detail-content-wrapper .pro-stock-and-ref-wrapper h5 span {
  color: #0eb702;
  font-weight: 700;
  margin-left: 18px;
}
.product-detail-content-wrapper a.quick-view {
  color: #fc5112;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 12px;
  display: block;
}
.product-detail-content-wrapper p.des {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}
.product-detail-content-wrapper .number {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.product-detail-content-wrapper .number input {
  width: 71px;
  text-align: center;
  border-radius: 0px !important;
  border: 1px solid #dcdcdc;
  border-left: 0px;
  border-right: 0px;
  color: #000;
  font-family: "Montserrat";
}
.product-detail-content-wrapper .number span {
  font-size: 16px;
  padding: 1px 9px;
  line-height: 1.5;
  margin: 0px;
  border: 1px solid #dcdcdc;
}

.rev-wrapper ul {
  padding: 0px;
  list-style: none;
  display: flex;
}
.rev-wrapper ul li {
  margin: 0px 2px;
}
.rev-wrapper ul li i {
  color: #ffcd03;
}
.reviews .rev-wrapper {
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  padding: 20px 20px;
}
.single-review-wrapper img {
  width: 81px;
  height: 81px;
  object-fit: cover;
}
.reviews {
  padding: 50px 0px;
}
.single-review-content-wrapper h4,
.single-review-content-wrapper p {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  margin: 0px;
}
.add-a-reviews .rating-wrap {
  display: block;
  margin-bottom: 26px;
  width: 100%;
}
.add-a-reviews .rating {
  border: none;
  float: left !important;
}

.add-a-reviews .rating > input {
  display: none;
}
.add-a-reviews .rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
.add-a-reviews .rating > .half:before {
  content: "\f089";
  position: absolute;
}

.add-a-reviews .rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.add-a-reviews .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
} /* hover previous stars in list */

.add-a-reviews .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}

.add-a-reviews button.rev {
  background: transparent;
  border: none;
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
}
.rev-form-wrapper label[for="Review"] {
    margin-bottom: 50px;
    position: relative;
    top: 36px;
    left: -139px;
    margin-top: 28px;
}
.rev-form-wrapper label {
    color: #2A263D;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Montserrat';
}
.rev-form-wrapper .form-control {
    border: 1px solid #707070;
    border-radius: 0px;
}
.other-item {
  padding: 30px 0px;
}
.other-item .item-wrapper {
  background: #F5F5F5;
  padding: 17px;
}
.other-item .item-wrapper p {
  margin: 0px;
  font-family: 'Montserrat';
  font-weight: 600;
}
.other-item .item-wrapper p a {
  font-family: 'Montserrat';
  font-weight: 600;
  color: #000;
}