.privacy-policy {
    padding: 20px 0px;
    padding-bottom: 30px;
}
.privacy-policy .content-wrapper {
    border: 1px solid #777575;
    padding: 60px 0px;
    padding-bottom: 10px;
}
.privacy-policy .content-wrapper h5 {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
    padding: 0px 40px;
}
.privacy-policy .question-and-answer-wrapper {
    border-top: 1px solid #777575;
    /* border-bottom: 1px solid #777575; */
    padding: 30px 46px;
}
.privacy-policy h6 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.privacy-policy .answer-wrapper p {
    color: #000;
    font-size: 14px;
    font-family: 'Montserrat';
    padding: 15px 0px;
}